<!DOCTYPE html>
<html>
  <head>
    <meta charset="{{ .Site.Params.htmlcharset }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="{{ .Site.Params.Author }}" />
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | relURL }}">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <!-- css -->
    {{- $css := resources.Get "css/style.css" | resources.Minify -}}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    <!-- custom css -->
    {{- range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . }}">
    {{- end -}}
  </head>
  <body>
    {{- partial "header.html" . -}}
    {{- if ne .Site.Params.isCHM true }} {{- partial "menu.html" . -}} {{- end }}
    <div id="content">
    {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
