@charset "UTF-8";

/* Base */
html {
    font-family: '游ゴシック Medium', 'メイリオ', 'Source Sans Pro', 'Lato', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: medium;
    color: #333333;
    background-color: #fafafa;
}

/* content */
body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin-top: 2pt;
  margin-bottom: 12pt;
}
h1 {
  margin-top: 30pt;
  margin-bottom: 40pt;
  font-size: 250%;
  border-bottom: solid 3pt #333333;
}
h2 {
  margin-top: 30pt;
  margin-bottom: 15pt;
  font-size: 200%;
  border-bottom: 1px solid #ccc;
}
h3 {
  margin-top: 25pt;
  margin-bottom: 5pt;
  font-size: 150%;
}
h4 {
  margin-top: 20pt;
  margin-bottom: 5pt;
  font-size: 120%;
}
h5 {
  margin-top: 15pt;
  margin-bottom: 2pt;
  font-size: 110%;
}
h6 {
    margin-top: 1pt;
    margin-bottom: 1pt;
    font-size: 90%;
  }
a {
  color: #1C90F3;
}
pre {
  padding: 8pt;
  background-color:#272822;
  color: #f5f5f5;
  tab-size:4;
  font-family: monospace;
  line-height: 120%;
  font-size: medium;
}
code { /* inline code */
  padding: 3pt;
  background-color: #eee;
}
pre code {
  background-color:#272822;
  color: #f5f5f5;
}
blockquote {
  padding: 12pt;
  background-color: #eee;
  border-left: double  #ccc 5pt;
}

table{
  border-collapse:collapse;
  margin-top: 12pt;
  margin-bottom: 12pt;
}
td,th{
  border: solid 1px #aaa;
  font-size: small;
  padding: 4pt;
}
th{
  background:#ccc;
}

/* Menu */
.menu {
  background-color: #eeeeee;
  padding-top: 1px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.menu-selected {
  background-color: lightcoral;
  color: white;
  text-decoration: none;
}
.menu a:hover:not(.active) {
	color: #ffffff;
	background-color: #333333;
}

/* footer */
.footer {
  border-top:1pt solid #cccccc;
  padding-top: 3pt;
  text-align: center;
}
