<nav class="menu">
  <h2>MENU</h2>
  {{- template "menu-tree" (dict "section" .Site.Home "current" .) }}

  {{- define "menu-tree" }}
  {{- $section := .section }}
  {{- $current := .current }}
  <ul>
    {{- range $section.Sections.ByWeight }}
      <li><a href="{{ .RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ .Title }}</a>
      {{- if .IsAncestor $current }}
      {{- template "menu-tree" (dict "section" . "current" $current) }}
      {{- end }}
    {{- end }}
    {{- range $section.RegularPages }}
      {{- $page := . }}
      {{- if .Params.ShowIf }}
          {{- $flag := false }}
          {{- range .Site.Params.showIfs }}
            {{- $showIf := . }}
            {{- range $page.Params.ShowIf }}
              {{- if and (eq $showIf . ) (eq $flag false) }}
                {{- $flag = true }}
                <li><a href="{{ $page.RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ $page.Title }}</a>
              {{- end }}
            {{- end }}
          {{- end }}
      {{- else}}
        <li><a href="{{ .RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ .Title }}</a>
      {{- end}}
    {{- end }}
  </ul>
  {{- end }}
</nav>
